@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #D0CCCC;
}

header h1 {
  background: #ED8497;
  padding: 10px;
  color: #FFF;
}
/* Navbar */
#menuButton {
  vertical-align: middle;
  margin-right: 20px;
  display: none;
}

#nav {
  background: #FFF;
}


#nav li {
  display: inline-block;
  padding: 10px;
}
/* App */
section {
  margin: 15px 5px 5px 5px;
}

.card {
  background: #FFF;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.49);
  border-radius: 10px;
}

.cardTop {
  padding: 20px 10px;
}

.cardActions {
  padding: 20px 10px;
  border-top: 1px solid #D0CCCC;
}

.welcomeMessage {
  color: #ed8497;
  font-size: 20px;
  margin-bottom: 10px;
}

.prompt {
  margin-bottom: 30px;
}

.prompt span{
  display: block;
}

.dataForm {
  padding: 4px;
  border-radius: 2px;
  border: 1px solid #D3D3D3;
  font-size: 14px;
  color: #333;
  font-weight: 200;
  display: block;
  margin: 3px 0 15px 0;
}

.cardActions .actionButton{
  padding: 0;
  margin: 0 5px 0 10px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  background: transparent;
  overflow: hidden;
}


.cardActions .primary.actionButton {
  color: #FFA500;
}

.cardActions .primary.actionButton:hover {
  transform: scale(1.2);
} 

.cardActions .secondary.actionButton:hover {
  transform: scale(1.2);
} 

#inputForm {
  display: none;
  margin-top: 20px;

}

.cardImage {
  background-color: #ED8497;
  border-radius: 10px 0 0 10px;
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.cardBigImage {
  background-color: #ED8497;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100px;
  top: 0;
  bottom: 0;
}

.content {
  margin-left: 100px;
}
.title {
  font-size: 25px;
  font-weight: bold;
  margin: 5px 5px 15px 5px;
}

.author {
  color: #928E8E;
  font-size: 18px;
  margin: 5px;
}

/* adding dim lighting */
#mask {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  transition: all 500ms;
  opacity: 0;
  visibility: hidden;
}

#mask.show {
  opacity: 1;
  visibility: visible;
}

#wrapper {
  display: inline-block;
  width: 48%;
  margin: 0 15px 0 15px;  
}

#right {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}
/*Media Queries */
/* for Mobile mode */
@media only screen and (max-width: 480px) {

#menuButton {
  display: inline-block;
}

header {
  position: relative;
  z-index: 10;
}
#nav {
  position: absolute;
  width: 100%;
  top: 100%
}

#nav .hide {
  display: none;
}

#nav .show {
  display: block;
}

#nav li {
  display: block;
  border-bottom: 1px solid red;
}

#wrapper {
  display: block;
  width: 100%;
  margin: 0;
}

#right {
  display: block;
  width: 100%;
}

}
@media only screen and (max-width: 860px) {

#wrapper {
  display: block;
  width: 100%;
  margin: 0;
}

#right {
  display: block;
  width: 100%;
}

}
/* for when in desktop mode */
@media only screen and (min-width: 481px) {

#nav #books {
  display: block !important;
}
}





